.title-slide {
  background-image: url(https://images.unsplash.com/photo-1506362802973-bd1717de901c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=07186124ccf4b0ca6663e832e18530e0&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb);
  background-size: cover;
}

.mybold { color: #BA0000 }

div.highlight{
  background-color: #e7e8e2; /* darker */
  text-align: center;
  width: 94%;
  font-size: 110%;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.size70 { font-size: 70% }

div.my-header {
    background-color: #272822;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 20px;
    width: 100%;
}

div.my-footer {
    background-color: #272822;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 30px;
    width: 100%;
}
div.my-footer span {
    font-size: 10pt;
    color: #F7F8FA;
    position: absolute;
    left: 40px;
    bottom: 8px;
}


.remark-slide-number {
  font-size: 10pt;
  margin-bottom: -5px;
  margin-right: 10px;
  color: #F7F8FA;
  opacity: 1;
}

h1 {
  margin-top: 25px;
  margin-bottom: 15px;
}
